/* Popup styles */

.popup {
    color: var(--main-color);
    float: clear;
    display: none;
    position: fixed;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    border-color: var(--main-color);
    min-width: 250px;
    max-width: 280px;
}

.popup input {
    display: block;
    padding: 3px;
    margin-bottom: 10px;
    color: var(--main-color);
    border-style: solid;
    border-color: var(--main-color);
    border-width: 2px;
    border-radius: 4px;
    outline-color: var(--main-color);
    width: 100%;
}

.popup button,
.popup-button {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: var(--main-color);
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: var(--main-color);
    border-width: 2px;
    border-radius: 4px;
    font-size: var(--font-size-medium);
}

.popup button:hover,
.popup-button:hover {
    background-color: var(--main-color-light);
    border-color: var(--main-color-light);
}

.popup .delete-button {
    color: white;
    background-color: var(--red);
    border-color: var(--red);
}

.popup .delete-button:hover {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
}

.popup-wrapper {
    margin: 25px;
}

.popup svg {
    width: 20px;
    height: 20px;
}

#screen-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

.popup-close-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
    display: block;
    float: right;
    width: fit-content;
    height: fit-content;
}

/* File Upload */

#upload-drop-area {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    min-height: 60px;
}

#upload-preview-image {
    max-width: 200px;
    max-height: 200px;
}

#or-box {
    margin: 15px;
    font-weight: bold;
}