# Enable URL rewriting
RewriteEngine On

#Custom 404 Page
ErrorDocument 404 /index.php?error=404

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove Trailing Slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Hide .user.ini
RewriteCond %{REQUEST_URI} .user.ini
RewriteRule ^.*$ - [L,R=404]

# /u/name rewrite
RewriteCond %{REQUEST_URI} ^/u/.+$
RewriteRule ^/?u/(.+)$ /index.php?profile=$1 [L]

# /i/name.ext rewrite
RewriteCond %{REQUEST_URI} ^/i/.+$
RewriteRule ^/?i/(.+)$ /index.php?image_raw=$1 [L]

# Redirect all api requests /api/request_handler.php
RewriteCond %{REQUEST_URI} ^/api/.+$
RewriteCond %{REQUEST_URI} !^/api/request_handler.php.*$
RewriteRule ^/?api/.*$ /api/request_handler.php [L]

# Remove the need for .php
# NOTE : This rule should always be last!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC]